body {
    padding: 0 350px;
    background-color: rgb(24, 20, 20); 
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     
}

a{
    color: white;
    font-size: 32px;
    padding: 16px;
    margin: 16px;
    text-decoration: none; 
    display: inline-block;
    margin-top: 16px;
}

a:hover{
    color: rgb(201, 51, 51);
}
ul{
    list-style-type: none;
    align-items: start;
    padding: 0 0 0 0px;
}
li{
    align-items: start;
    display:inline;
    padding: 0 0 0 0px;
}
/* THIS IS FOR ABOUT ME CARD -- BEG */
.location{
    display: inline-flex;
}
.bi-geo-alt{
    font-size: 22px;
}
.locationPicture{
    padding-top: 20px;
}
h1{
    font-size: 32px;
}
h1 .job{
    font-size: 28px;
    margin: 0 0px;
}
h2{
    font-size: 22px;
}

.FLPSLink{
    font-size: 16px;
    padding: 0px;
    margin: 0px; 
}
.MSULink{
    font-size: 16px; 
    padding: 0px;
    margin: 0px; 
}
/* START OF CONTACT INFORMATION -- STILL IN ABOUT ME CARD */
.contactInformation{
    display: inline-flex;
}
i a{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    margin: 0px; 
}
/* ALL OF THE LOGOS -- RESIZED */
.bi-github{
    font-size: 22px; /* MAY NEED TO ADJUST THE SIZES OF ICONS IN FUTURE */
}
.bi-linkedin{
    font-size: 22px;
}
.bi-telephone-fill{
    font-size: 22px;
}

/* END OF ABOUT ME CARD */

/*  START OF WORK EXPERIENCE SECTION */
.workExperience{
    font-size: 32px; 
}
.workExperience h4{
    font-size: 32px;
}
.workImage{
    width: 50px;
}
.workLogoTitle{
    display: inline-flex; 
}
h5{
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}
h6{
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}
.move{
    margin-left: 10px; 
}

/* END OF WORK EXPERIENCE SECTION */

/* START OF ACTIVITIES SECTION*/

.activities{
    font-size: 32px; 
}
.activityCard{
    display: inline-flex; 
}
.activityImg{
    width: 80px;
    height: 100%;
}
.MSUCC{
    background-color: white;
}
/* END OF ACTIVITIES SECTION */

/* START OF PROJECT STYLING */
.projects{
    font-size: 32px;
}
.projectCardStyling{
    display: flex;
}
.child-1{
    flex: 1;
}
.child-2{
    flex: 1;
    position: relative;
    left: 100px; 
}
.projectCard a{
    font-size: 24px;
    margin: 5px;
    padding: 0px;
}
.projectLogoStyle{
    width: 50px;
    height: 50%;
    display: inline-flex;
}
.JSstyle{
    position: relative;
    right: 16px;
    width: 86px;
    height: 60%;
    display: inline-flex;
}
.projectP{
    font-size: 20px;
}
.projectImg{
    position: relative; 
    bottom: 35px; 
    left: 0px; 
    right: 0px;
    width: 350px;
    height: 100%;
    /* CENTER THIS */ 
}
.sideImages{
    height: 80px; 
    width: 80px; 
}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1280px){
    body{
        padding: 0 200px;
    }
    p{
        font-size: 20px;
    }
    .projectCardStyling{
        position: initial;
    }
    .projectImg{
        position: relative;
        width: 300px;
        height: 100%;
        bottom: 10;
    }
}
@media screen and (min-width: 1281px) and (max-width: 1350px){
    .projectImg{
        position: initial;
    }
}
@media screen and (max-width: 1024px){
    body{
        padding: 0 50px; /*  TEMPORARY SINCE IT LOOKED WACKY */
    }
}
@media screen and (max-width: 768px){
/* FONT SIZE */
}
@media screen and (max-width: 575px){
    h1{
        text-align:center; 
    }
    .projects{
        margin: 25 0px;
    }
    .projectCardStyling {
        display: contents;
    }
    h5{
        font-size: 20px; 
    }
    h6{
        font-size: 20px;
    }
    p{
        font-size: 18px;
    }
    .workExperience{
        margin: 25 0px;
    }
    .activities{
        margin: 25px 0;
    }
    .sideImages{
        width: 0;
        height: 0;
    }
    .projectImg{
        width: 0;
        height: 0;
    }
}
@media screen and (max-width: 505px){
    li a{
        padding: 0px;
        margin: 0px;
        display: contents;
    }
}
@media screen and (max-width: 414px){
    
    li a{
        padding: 0px;
        margin: 0px;
        display: contents;
    }
    h5{
        font-size: 20px;
        text-align: start;
    }
    h6{
        font-size: 20px;
        text-align: start;
    }
    p{
        font-size: 16px;
    }
    .projectp{
        font-size: 16px;
    }


    .projects{
        margin: 20px 0; 
    }
    .activities{
        margin: 20px 0; 
    }
    .workExperience{
        margin: 20px 0;
    }

    .projectCard a{
        display: -webkit-inline-box;
        font-size: 20px;
    }
}
@media screen and (max-width: 393px){
    li{
        padding: 5 10 5 5px;
    }
    .contactInfo a{
        display: contents;
        margin: 5px;
        padding: 5px;
    }
    h4{
        padding: 10px;
        margin: 0px;
    }
    .projectCard a{
        font-size: 20px;
    }
}
@media screen and (max-width: 375px){
    .projectCard a {
        display: block; 
        padding: 1px; 
    }
}
@media screen and (max-width: 350px){
    li{
        padding: 5 5 0 0px;
    }
}
@media screen and (max-width: 330px){
}

@media screen and (max-width: 280px){
    li{
        padding: 0 0 0 0px;
    }
    body{
        padding: 0 0px;
        position: relative;
        left: 50px; 
    } a {
        display:inline;

    }
    .projectCardStyling{
        display:block;
        position: initial;
    }
    .projectCard a{
        font-size: 20px;
    }
}


